.DS_Store

// ignore final setups/compositions and unfinished examples for now.
src/inc/MacAddresses.original
examples/BasicMovementSetup
examples/SequencerMovementSetup

// who wrote this file and what does it do?
PodHalfBeat.h